node_modules/
.env
.env.local
.env.*.local

# Build output
/dist
/build
/coverage

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Prisma local artifacts
.prisma/
prisma/generated/

# OS files
.DS_Store

firebase-service-account.json
